[package]
name = "argc"
version = "0.9.2"
edition = "2021"
authors = ["sigoden <sigoden@gmail.com>"]
description = "a bash cli framework, also a task runner."
license = "MIT OR Apache-2.0"
homepage = "https://github.com/sigoden/argc"
repository = "https://github.com/sigoden/argc"
autotests = false
categories = ["command-line-utilities"]
keywords = ["command-line", "framework", "make", "task-runner"]

[dependencies]
anyhow = "1"
clap = { version = "3", default_features = false, features = ["std"] }
convert_case = "0.5"
indexmap = "1.9"
nom = "7.1"
which = "4.2"

[dev-dependencies]
insta = "1.15"
assert_cmd = "2"
assert_fs = "1"
rstest = "0.15"
predicates = "2"

[profile.release]
lto = true
strip = true
opt-level = "z"

[[test]]
name = "integration"
path = "tests/tests.rs"
