[package]
name = "argc"
version = "0.8.2"
edition = "2021"
authors = ["sigoden <sigoden@gmail.com>"]
description = "A new way to parse shell script arguments."
license = "MIT OR Apache-2.0"
homepage = "https://github.com/sigoden/argc"
repository = "https://github.com/sigoden/argc"
autotests = false
categories = ["command-line-utilities"]
keywords = ["command-line", "shell-script", "argument-parser"]

[dependencies]
anyhow = "1"
clap = { version = "3", default_features = false, features = ["std"] }
convert_case = "0.5"
nom = "7.1"

[dev-dependencies]
insta = "1.15"

[profile.release]
lto = true
strip = true
opt-level = "z"

[[test]]
name = "integration"
path = "tests/tests.rs"
