[package]
name = "argc"
version = "0.15.1"
edition = "2021"
authors = ["sigoden <sigoden@gmail.com>"]
description = "An elegant command-line options, arguments and sub-commands parser for bash."
license = "MIT OR Apache-2.0"
homepage = "https://github.com/sigoden/argc"
repository = "https://github.com/sigoden/argc"
autotests = false
categories = ["command-line-utilities"]
keywords = ["command-line", "shell-script", "argument-parser"]

[dependencies]
anyhow = "1"
clap = { version = "4.0", features = ["string"]}
convert_case = "0.6"
indexmap = "1.9"
nom = "7.1"
either = "1.8"

[dev-dependencies]
insta = "1.15"
assert_cmd = "2"
assert_fs = "1"
predicates = "2"

[profile.release]
lto = true
strip = true
opt-level = "z"

[[test]]
name = "integration"
path = "tests/tests.rs"
