[package]
name = "argc"
version = "1.0.0"
edition = "2021"
authors = ["sigoden <sigoden@gmail.com>"]
description = "An elegant command-line options, arguments and sub-commands parser for bash."
license = "MIT OR Apache-2.0"
homepage = "https://github.com/sigoden/argc"
repository = "https://github.com/sigoden/argc"
autotests = false
categories = ["command-line-utilities"]
keywords = ["command-line", "shell-script", "argument-parser"]

[dependencies]
anyhow = "1"
convert_case = "0.6"
indexmap = "1.9"
nom = "7.1"
either = "1.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
which = "4.2"
ctrlc = "3.2"
shell-words = "1.1.0"
textwrap = "0.16.0"
terminal_size = "0.2.6"

[dev-dependencies]
insta = "1.15"
assert_cmd = "2"
assert_fs = "1"
rstest = "0.15"
predicates = "2"

[target.'cfg(unix)'.dev-dependencies]
libc = "0.2"

[profile.release]
lto = true
strip = true
opt-level = "z"

[[test]]
name = "integration"
path = "tests/tests.rs"
