[package]
name = "argc"
version = "0.9.1"
edition = "2021"
authors = ["sigoden <sigoden@gmail.com>"]
description = "Make beautiful bash cli"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/sigoden/argc"
repository = "https://github.com/sigoden/argc"
autotests = false
categories = ["command-line-utilities"]
keywords = ["command-line", "bash-script", "command-runner"]

[dependencies]
anyhow = "1"
clap = { version = "3", default_features = false, features = ["std"] }
clap_complete = "3.2"
convert_case = "0.5"
nom = "7.1"
which = "4.2"

[dev-dependencies]
insta = "1.15"

[profile.release]
lto = true
strip = true
opt-level = "z"

[[test]]
name = "integration"
path = "tests/tests.rs"
