[package]
name = "argc"
version = "0.4.0"
edition = "2021"
authors = ["sigoden <sigoden@gmail.com>"]
description = "A easy way to handle sh/bash cli parameters"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/sigoden/argc"
repository = "https://github.com/sigoden/argc"
autotests = false
categories = ["command-line-utilities"]
keywords = ["command-line", "shell-script", "argument-parser"]

[dependencies]
anyhow = "1.0.56"
clap = { version = "3.1.6", default_features = false, features = ["std"] }
convert_case = "0.5.0"
nom = "7.1.0"

[dev-dependencies]
insta = "1.12"

[profile.release]
lto = true
strip = true
opt-level = "z"

[[test]]
name = "integration"
path = "tests/tests.rs"
